/* === Default Reset's === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;    
}

li,ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* === Navbar === */
.nav {
    background: rgba(0,0,0,0.8);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.nav-logo {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    color: #FFFFFF;
}

.nav-logo a {
    color: #FFFFFF;    
}

.nav-links {
    display: flex;
}

.nav-link {
    margin: 0 0 0 35px;    
}

.nav-link a {
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    
}

.reservations-button {
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

/* === Menu Mobile === */
.menu-mobile, 
#check {
    display: none;
}

/* === Home === */
#home {
    width: 100%;
    height: 110vh;
    background-image: url(../images/home-bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home-text {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-text h1 {
    font-weight: 300;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 25px;
    animation-name: homeTxt;
    animation-duration: 2s;
}

.home-text p {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100ch;
    line-height: 26px;
    animation-name: homeTxt;
    animation-duration: 2s;
}

@keyframes homeTxt {
    0% {
      position: relative;
      opacity: 0;
      right: 50%;
    }
  
    100% {
      position: relative;
      opacity: 1;  
      right: 0;
    }
}

/* === About === */
#about {
    margin-left: auto;
    margin-right: auto;
    padding: 60px 80px;
    position: relative;
    width: 100%;
}

.about-container {
    display: flex;
}

.about-image img {
    max-width: 800px;
    height: 700px;  
    object-fit: cover;
}

.about-box {
    position: absolute;
    top: 45%;
    left: 50%;
    background: #FFFFFF;
    padding: 60px 20px 120px 0px;
    border: 2px solid #7d715b;
    box-shadow: 5px 30px 40px 5px rgba(0, 0, 0, 0.25);
    animation-name: aboutBox;
    animation-duration: 3s;
}

@keyframes aboutBox {
    0% {
      position: absolute;
      opacity: 0;
      left: 0;
    }
  
    100% {
      position: absolute;
      opacity: 1;  
      left: 50%;
    }
}

.about-title {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #292620;
    padding: 0 20px;
}

.about-paragraph {
    font-size: 14px;
    line-height: 30px;
    max-width: 75ch;
    color: #4A4A4A;
    padding: 0 20px;
}

