/* === Default Reset's === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* === Navbar === */
.nav {
    background: rgba(0,0,0,0.8);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.nav-logo {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    color: #FFFFFF;
}

.nav-logo a {
    color: #FFFFFF;    
}

.nav-links {
    display: flex;
}

.nav-link {
    margin: 0 0 0 35px;    
}

.nav-link a {
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    
}

.reservations-button {
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

/* === Menu Mobile === */
.menu-mobile, 
#check {
    display: none;
}

/* === Home === */
#home {
    width: 100%;
    height: 110vh;
    background-image: url(../images/home-bg.png);
    background-size: cover;
    background-position: center;
}

