/* === Default Reset's === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;    
}

li,ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* === Navbar === */
.nav {
    background: rgba(0,0,0,0.8);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.nav-logo {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    color: #FFFFFF;
}

.nav-logo a {
    color: #FFFFFF;    
}

.nav-links {
    display: flex;
}

.nav-link {
    margin: 0 0 0 35px;    
}

.nav-link a {
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    
}

.reservations-button {
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

/* === Menu Mobile === */
.menu-mobile, 
#check {
    display: none;
}

/* === Home === */
#home {
    width: 100%;
    height: 110vh;
    background-image: url(../images/home-bg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home-text {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-text h1 {
    font-weight: 300;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 25px;
    animation-name: homeTxt;
    animation-duration: 2s;
}

.home-text p {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100ch;
    line-height: 26px;
    animation-name: homeTxt;
    animation-duration: 2s;
}

@keyframes homeTxt {
    0% {
      position: relative;
      opacity: 0;
      right: 50%;
    }
  
    100% {
      position: relative;
      opacity: 1;  
      right: 0;
    }
}

/* === About === */
#about {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}

.about-container {
    display: flex;
    padding: 60px 80px;
}

.about-image img {
    max-width: 800px;
    height: 700px;  
    object-fit: cover;
}

.about-box {
    position: absolute;
    top: 45%;
    left: 50%;
    background: #FFFFFF;
    padding: 60px 20px 120px 0px;
    border: 2px solid #7d715b;
    box-shadow: 5px 30px 40px 5px rgba(0, 0, 0, 0.25);
}

.about-title {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #292620;
    padding: 0 20px;
}

.about-paragraph {
    font-size: 14px;
    line-height: 30px;
    max-width: 75ch;
    color: #4A4A4A;
    padding: 0 20px;
}

/* === Hero-Img === */
.hero-img {
    height: auto;
    position: relative; 
    display: flex;
    justify-content: center; 
}

.img-hamburguer {
    width: 100%;
    height: 500px;  
    object-fit: cover;  
}

.hero-img-txt {   
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero-img-txt h2 {
    font-weight: 300;
    font-size: 64px;
    color: #FFFFFF; 
    text-align: center;  
    margin-bottom: 20px; 
}

.hero-img-txt p {
    font-size: 14px;
    color: #FFFFFF;    
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.hero-btn {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    padding: 20px 50px;
    background-color: #DA7D25;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

/* === Menu === */
.menu-container {
    padding: 60px 80px;    
}

.menu-logo {
    background-color: #090a0a;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 60px;
}

.menu-logo h2 {
    color: #fcfcfc;
    font-weight: 200;
    font-size: 48px;
    position: relative;
    display: inline-block;
    border: 2px solid #fcfcfc;
    padding: 20px 40px;
}

.menu-items-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10vh;   
}

.menu-item {
    width: 100%;
    height: 450px;   
    border: 1px solid #ebcccc;
    padding: 30px;
}

.menu-item h3 {
    display: inline-block;
    padding: 10px;
    font-size: 32px;
    font-weight: 400;
    color: #c7adad;
    border: 2px solid #c7adad;
    margin-bottom: 40px;
}

.menu-item-title-container {
    display: flex;
    justify-content: space-between;
}

.menu-item-title {
    color: #1a1a1a;
    margin-bottom: 10px;
}

.menu-item-complement {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 30px;
}

/* === Contact === */
.contact-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.contact-container {
    padding: 90px 80px;    
    margin-left: auto;
    margin-right: auto;
}

.contact-title {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 60px;
    color: rgb(41, 38, 32); 
}

.contact-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact-subtitle-container {
    display: flex;
    margin-bottom: 5px;
}

.contact-icon {
    font-size: 30px;
    margin-left: 10px;
    color: rgb(41, 38, 32);
}

.contact-subtitle {
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    color: rgb(41, 38, 32);
}

.contact-paragraph {
    font-size: 24px;
    font-weight: 200;
}



/* === Footer === */
footer {
    background-color: #0f0f0f;
}

.footer-container {
    padding: 60px 80px;    
    margin-left: auto;
    margin-right: auto;   
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10vw;
}

.footer-logo {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    color: #FFFFFF;   
}

.footer-copy-text {
    font-size: 16px;
    font-weight: 300;
    color: #8F8F8F;
    margin-top: 10px;
}

.footer-text-paragraph {
    font-size: 16px;
    line-height: 21px;
    color: #8F8F8F;
}

.footer-contact-subtitle {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 300;
}

.footer-contact-paragraph {
    font-size: 16px;
    color: #8F8F8F;
    margin-bottom: 20px;
}